.food{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    box-shadow: var(--large-shadow);
    border-radius: 30px;
}
.img-food{
    position: relative;
    object-fit: cover;
}
.img-food > img{ 
    width: 9rem;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
}
.fa-heart{
    color: var(--color-border);
    font-size: 1.2rem;
    margin-top: 0.5em;
    background: none;
    border: none;
}
.clicked{
    color: var(--color-primary);
}
/* Food rate - star style */
.rate-food{
    border-radius: 7px;
    background-image: var(--color-gradient-1);
    color: white;
    width: 3rem;
    height: auto;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.1rem;
    font-weight: 550;
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
}
.info-food{
    color: var(--color-border);
    font-size: 0.9rem;
    text-decoration: none;
    margin-left: 1rem;
}
.info-food-ttl{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--color-text);
}
.info-food-ttl > h3{
    margin: 0.5rem 0;
    font-size: 1.1rem;
}
.info-food-ttl > img {
    margin-top: 1rem;
    object-fit: cover;
}
.sz-food::before{
    content: url("/src/assets/People.svg");
    margin-right: 0.3rem;
}

.cal-food::before{
    content: url("/src/assets/Fire.svg");
    margin-right: 0.3rem;
}
.prc-food{
    font-weight: 550;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
}
.text-wrapper{
    position: relative;
    width: 100%;
    margin: 0.5em 1em;
    margin-left: 0;
}
.text-wrapper ul{
    margin: 0;
    text-decoration: none;
}