#root {
  background-color: var(--color-background);
  max-width: 1280px;
}
/* --- MENU Title --- */
.ttl-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-all-menu{
  background: var(--color-background);
  color: var(--color-border);
  border: none;
  &:hover{
      color: var(--color-text);
      border-bottom: 0.5px solid var(--color-text);
  }
}
.ttl{
  margin-top: 0;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
