footer{
    display: flex;
    justify-content: space-evenly;
    box-shadow:var(--default);
    padding: 40px 0 40px 0;

}
footer li, a, .info-footer{
    font-family:var(--font-family-1);
    color: var(--color-border);
}