.navigationBar{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	font-family: var(--font-family-1);
    font-weight: 600;
    font-style: normal;
    font-size:20px;
    padding:20px 40px 20px 40px;
}
header{
	box-shadow:var(--default);
}
.navigationBar ul{
	list-style:none;
	display:flex;
	flex-direction:row;
}
.navigationBar ul li{
	margin:0 10px 0 10px;
}

.navigationBar button{
	font-family:var(--font-family-1);
    font-weight: 600;
    font-style: normal;
    font-size:15px;
    margin:10px;
	cursor:pointer;
	border-radius:20px;
	background: none;
	border: none;	
}

.navButtons .fa-solid{
	&:hover{
		color: var(--color-primary);
	}
}