main{
	display:flex;
	flex-direction:column;
	row-gap:20px;
	margin-bottom:10%;
}
.restaurants{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 3em;
	margin: 0 10em;
}
.listStyle, .ttl-rec{
	display: flex;
	justify-content: space-evenly;
	margin: 0;
	color: var(--color-border);
}
.listStyle li{
	display: flex;
	flex-direction: column;
	&:hover{
		color: var(--color-text);
	}
}
.ttl-rec{
	color: var(--color-text);
}
.home{
	background-image: url("src/assets/backgroundoflogin.svg");
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.home > h1{
	color: white;
	margin-left: 7em;
	font-size: 2rem;
}
.search-bar{
	display: flex;
	background-color: var(--color-background);
	gap: 1.5rem;
	align-items: center;
	width: fit-content;
	padding: 0.5rem;
	box-shadow: var(--large-shadow);
	border-radius: 40px;
}
.search-bar select{
	width: 10rem;
	padding: 0.5rem;
	font-size: 1.2rem;
	border-radius: 25px;
	background: none;
	border: none;
	&:hover{
		background-color: var(--color-light-grey-background);
		box-shadow: var(--medium-shadow);
	}
}
.search-btn{
	width: 3rem;
	height: 3rem;
	background-image: var(--color-gradient-1);
	color: white;
	border: none;
	border-radius: 50%;
}


/* --------- MEDIA ----------  */
@media (max-width: 1300px){
    .restaurants{
        font-size: 0.95rem;
		margin: 5em;
    }
}

@media (max-width: 900px){
    .restaurants{
        font-size: 0.8rem;
		margin: 3em;
		gap: 2em;
    }
}

/* -------- MOBILE --------- */
@media (max-width: 600px){
    .restaurants{
		margin: 2em;
		gap: 1em;
    }
}