:root {
  --font-family-1:"Montserrat", sans-serif;

  /* COLORS */
  --color-primary: #ff0000;
  --color-background: #ffffff;
  --color-text: #000000;
  --color-green: #78ca4d;
  --color-border: #A9A9A9;
  --color-light-grey-background: #f4f4f4;

  /* GRADIENTS */
  --color-gradient-1: linear-gradient( #ff0000, #fcb8b8);
  --color-gradient-2: linear-gradient( #ff0000, #a22b2b);

  /* SHADOWS */
  --default: 1px 0 5px 0 #A9A9A9;
  --xxssmall: 0 1px 2px 0 rgba(0 0 0 / 0.05);
  --medium-shadow: 0 4px 6px -2px rgba(0 0 0 / 0.03), 0 12px 16px -4px rgba(0 0 0 / 0.08);
  --large-shadow: 0 8px 8px -4px rgba(0 0 0 / 0.03), 0 20px 24px -4px rgba(0 0 0 / 0.08);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  background-color: var(--color-background);
  margin: 0;
  padding:0;
  box-sizing:border-box;
  
}

ul, a{
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000000;
    --color-text: #FFFFFF;
  }
} */
