
/* ---- Food card container style ---- */
.foods {
    height: inherit;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    justify-content: center;
    overflow: scroll;
  }
  .foods::-webkit-scrollbar{
    display: none;
  }