
.rslt-main-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2em 3em;
    column-gap: 5em;
    row-gap: 2em;
}

/* ---- Restaurant card container style ---- */
.rest-cards{
  width: 60rem;
}
.rest-cards > div{
    height: inherit;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: center;
    margin-top: 1rem;
    overflow: scroll;
  }
  .rest-cards > div::-webkit-scrollbar{
    display: none;
  }
  .ttl-result{
    color: var(--color-text);
    margin-bottom: 0;
  }
  .total-result{
    color: var(--color-border);
  }

  .rslt-main-container > div {
    position: relative;
   & > button{
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 20px;
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    cursor: pointer;
   }
  }

  @media(max-width: 1407px){
    .fltr-bar{
      display: flex;
    };
  }