.fltr-bar{
    height: 2rem;
    width: 60em;
    background: var(--color-light-grey-background);
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    display: none;
    box-shadow: var(--medium-shadow);
  }
  .fltr-bar button{
    font-size: 1.2em;
    margin-left: 3rem;
    background: none;
    border: none;
    color: var(--color-border);
    &::before{
      content: url("src/assets/Filter.svg");
      margin-right: 0.5rem;
    }
  }
  .card-fltr{
    position: absolute;
    top: 11rem;
  }