
.card-fltr{
    width: 20rem;
    height: fit-content;
    border-radius: 20px;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    box-shadow: var(--large-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.fltrs{
    width: 80%;
}
.ttl::before{
    content: url('src/assets/Filter.svg');
    margin-right: 0.5em;
}
.ttl{
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.fltr-elm{
    display: flex;
    justify-content: space-between;
    color: var(--color-border);
}
.inputs-fltr input[type="radio"]{
    display: inline;
}